<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %p [%c] - %m%n</pattern>
		</encoder>
	</appender>
    <logger name="com.jcraft.jsch" level="WARN"/>
	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
</configuration>